*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    header {
        margin: 0 auto;
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    .h1
    {
        margin: 0 auto;
        background-color: #333;
        color: #fff;
        padding: 20px;
    }
    .box
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 20px 20px;
    }
    .box-A
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 5px 5px;
    }
    .box-B
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 100px 100px;
    }
    .box-C
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 100px 100px;
    }
    .box-D
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 100px 100px;
    }
    .box-E
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 120px 120px;
    }
    .box-F
    {
        height: 50px;
        width: 50px;
        background-color: aquamarine;
        margin: 160px 160px;
    }

#box-0
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
#box-1
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
#box-2
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
#box-3
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
#box-4
{
position: relative;
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
#box-4::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    border-left: 1px solid black;
    height: 100%;
}
#box-5
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
#box-6
{
height:120px;
border-top: 1px solid black;
border-bottom: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}